<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>
            {% block title %}
                SpaceX Launch Optimization Dashboard
            {% endblock %}
        </title>

        {{ url_for('static', filename='css/styles.css') }}

        <script>
            src = "https://cdn.plot.ly/plotly-latest.min.js"
        </script>

        {% block extra head %}{% endblock %}
    </head>
    <body>
        <header class="site-header">
        <div class="container">

            <a class="logo" href="{{ url_for('main.home') }}">
                Space Launch Optimization
            </a>

            <nav class="main-nav">
                <a href="{{ url_for('main.home') }}">Home</a>
                <a href="{{ url_for('main.analytics') }}">Analytics</a>
                <a href="{{ url_for('main.map_view') }}">Map</a>
                <a href="{{ url_for('main.predictor') }}">Predictor</a>
                <a href="{{ url_for('main.insights') }}">Insights</a>
                <a href="{{ url_for('main.about') }}">About</a>
            </nav>

        </div>
        </header>
        <footer class="site-footer">
            <div class="container footer-content">

            <p class="footer-title">
                Space Launch Optimization with Machine Learning
            </p>

            <p class="footer-description">
                Predictive analytics project focused on launch success optimization.
            </p>

            <div class="footer-links">
                <a href="https://github.com/fernandorioseco" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/fernandorioseco/" target="_blank">LinkedIn</a>
                <a href="https://fernandorioseco.es" target="_blank">Portfolio</a>
            </div>

            <p class="footer-author">
                Fernando Rioseco Rodriguez &copy; 2026
            </p>

            </div>
        </footer>
    </body>
</html>